@include b("tabs") {
  @include e("header") {
    display: inline-flex;
    align-items: center;
    border-bottom: 1px solid #e9e9e9;
    width: 100%;
    overflow-x: auto;
  }
  //  组件主题色 start
  @include m("info") {
    label {
      &:has(input:checked) {
        color: $info;
      }
    }
    .selection {
      .z-tabs_bar-wrapper {
        position: relative;
        .z-tabs_btns-bar {
          background-color: $info;
        }
      }
    }
  }
  @include m("primary") {
    label {
      &:has(input:checked) {
        color: $primary;
      }
    }
    .selection {
      .z-tabs_bar-wrapper {
        position: relative;
        .z-tabs_btns-bar {
          background-color: $primary;
        }
      }
    }
  }
  @include m("success") {
    label {
      &:has(input:checked) {
        color: $success;
      }
    }
    .selection {
      .z-tabs_bar-wrapper {
        position: relative;
        .z-tabs_btns-bar {
          background-color: $success;
        }
      }
    }
  }
  @include m("danger") {
    label {
      &:has(input:checked) {
        color: $danger;
      }
    }
    .selection {
      .z-tabs_bar-wrapper {
        position: relative;
        .z-tabs_btns-bar {
          background-color: $danger;
        }
      }
    }
  }
  @include m("warning") {
    label {
      &:has(input:checked) {
        color: $warning;
      }
    }
    .selection {
      .z-tabs_bar-wrapper {
        position: relative;
        .z-tabs_btns-bar {
          background-color: $warning;
        }
      }
    }
  }

  //  组件主题色 end
  @include e("btns") {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    input {
      display: none;
    }

    label {
      padding: 10px 15px;
      width: 100%;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1;
      font-weight: 600;
      letter-spacing: -1px;
      font-size: 14px;
      .z-tabs__btn {
        margin: 2px;
      }
      &:first-child {
        padding: 10px 15px 10px 0;
      }
      &:nth-last-child(2) {
        padding: 10px 0 10px 15px;
      }
      .z-tabs__btn {
        display: flex;
        align-items: center;
        line-height: 14px;
      }

      &:has(input:checked) {
        transition: 0.2s ease;
      }
      &:has(input:checked) ~ .selection {
        display: inline-block;
      }
    }
    label:first-child ~ .selection {
      .z-tabs_bar-wrapper {
        justify-content: start;
        .z-tabs_btns-bar {
          width: calc(100% - 15px);
        }
      }
    }
    label:has(input:checked):first-child ~ .selection {
      .z-tabs_bar-wrapper {
        justify-content: start;
        .z-tabs_btns-bar {
          width: calc(100% - 15px);
        }
      }
    }
    label:has(input:checked):nth-last-child(2) ~ .selection {
      .z-tabs_bar-wrapper {
        justify-content: end;
        .z-tabs_btns-bar {
          width: calc(100% - 15px);
        }
      }
    }
    label:has(input:checked) ~ .selection {
      .z-tabs_bar-wrapper {
        justify-content: center;
        .z-tabs_btns-bar {
          width: calc(100% - 30px);
        }
      }
    }
    .selection {
      position: absolute;
      height: 100%;
      z-index: 0;
      left: 0;
      top: 0;
      transition: 0.2s ease;
      -webkit-transition: 0.2s ease;
      -moz-transition: 0.2s ease;
      -ms-transition: 0.2s ease;
      -o-transition: 0.2s ease;
      display: flex;
      align-items: center;
      .z-tabs_bar-wrapper {
        width: 100%;
        height: 100%;
        flex: auto;
        display: flex;
        align-items: end;
        position: relative;
        .z-tabs_btns-bar {
          width: 40px;
          height: 2px;
          // background-color: $primary;
          bottom: 0;
          right: 0;
        }
      }
    }
  }
}
html.dark {
  @include e("header") {
    border-bottom: 1px solid #3f3f3f;
  }
}
