$primary: #0d6efd;
$success: #52c41a;
$second-success:#f0f9eb;
$info: #0dcaf0;
$second-info: #afe7fb;
$warning: #ffc107;
$second-warning:#fdf6ec;
$danger:#ce2435;
$second-danger: #fef0f0;
$text:#303133;

$border:#adb5bd;
$color:#495057;
$second-color:#bbbcbd;

$light-bg:#fff;
$dark-bg:#1b1b1b

// :export {
//     primary: $primary;
//     success: $success;
//     info:$info;
//     warning:$warning;
//     danger:$danger;  
// }
