.z-calendar {
  font-size: 14px;
  width: fit-content;
  padding: 8px;
  .z-calendar-day-dot,
  &-week {
    width: 20px;
    height: 20px;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 1.1em;
  }
  &-body {
    &__week {
      display: grid;
      grid-gap: 8px;
      grid-template-columns: repeat(7, auto) !important;
    }
    &__dates {
      display: grid;
      grid-gap: 8px;
      grid-template-columns: repeat(7, auto);
    }
    &__year {
      display: grid;
      grid-gap: 4px;
      grid-template-columns: repeat(4, auto);
      align-items: center;
      justify-items: center;
      span {
        padding: 2px 4px;
        width: 2.3em;
        text-align: center;
        white-space: nowrap;
      }
    }
  }
  &-current-date {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-header {
    display: flex;
    justify-content: center;
    padding: 8px 5px;
    align-items: center;
    .month-ctr {
      margin: 0 1em;
    }
  }
  &-footer {
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 5px 0;
    &-current-date {
      padding: 5px;
      cursor: pointer;
      margin-right: 8px;
    }
  }
  &-ctr-btn {
    width: 1em;
    height: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .z-calendar--note {
    color: #b6b6b6;
  }
  &-day-dot,
  &-year-dot {
    cursor: pointer;
  }
  &-day-dot--active {
    border-radius: 50%;
    color: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
  &-year-dot--active {
    border-radius: 4px;
    color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
  }
}

.z-calendar.z-calendar--primary {
  .z-calendar-day-dot--active,
  .z-calendar-year-dot--active {
    background: $primary;
  }
}
.z-calendar.z-calendar--warning {
  .z-calendar-day-dot--active,
  .z-calendar-year-dot--active {
    background: $warning;
  }
}
.z-calendar.z-calendar--info {
  .z-calendar-day-dot--active,
  .z-calendar-year-dot--active {
    background: $info;
  }
}

.z-calendar.z-calendar--success {
  .z-calendar-day-dot--active,
  .z-calendar-year-dot--active {
    background: $info;
  }
}
.z-calendar.z-calendar--danger {
  .z-calendar-day-dot--active,
  .z-calendar-year-dot--active {
    background: $danger;
  }
}
