input {
  outline: none;
  border: none;
}
.z-select {
  display: inline-block;
  position: relative;
  cursor: pointer;
  &--lg {
    .z-select__wrapper {
      padding: 0 12px;
      &__content {
        input {
          min-height: 36px;
        }
      }
      &__tags {
        margin-left: -8px;
      }
    }
  }
  &--md {
    .z-select__wrapper {
      padding: 0 10px;
      &__content {
        input {
          min-height: 30px;
        }
      }
      &__tags {
        margin-left: -6px;
      }
    }
  }
  &--xs {
    .z-select__wrapper {
      padding: 0 6px;
      &__content {
        input {
          min-height: 24px;
        }
      }
      &__tags {
        margin-left: -4px;
      }
    }
  }

  // background: $dark-bg;
  &__wrapper {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0 10px;
    border: 1px solid $light-border;
    border-radius: 4px;
    &__content {
      padding-right: 18px;
      width: 100%;
      display: inline-flex;
      flex: 1;
      align-items: center;
    }
    &__tags {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      // margin-left: -8px;
      align-items: center;
    }
  }
  &__wrapper__icon {
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 16px;
    padding-right: 10px;
  }
  &__dropdown {
    width: 100%;
    opacity: 1;
    list-style: none;
    margin: 0;
    z-index: 2064;
    top: calc(100% + 10px);
    border-radius: 4px;
    overflow: hidden;
    box-shadow: $border-light-shadow;
    background: $comp-light-bg;
    transition: all 0.5s;
    // padding-top: 10px;
  }
  input {
    font-size: 14px;
    padding: 0;
    color: $light-color;
    background: $light-bg;
    width: 100%;
    text-overflow: ellipsis;
    cursor: pointer;
  }
}

.is-fcous {
  .z-select__wrapper {
    border: 1px solid $primary;
  }
}

.is-hover {
  .z-select__wrapper {
    border: 1px solid #787878;
  }
}

.icon-rotate {
  .z-select__wrapper {
    &__icon__inner {
      transition: transform 0.2s;
      color: $primary;
      //transform: rotate(-180deg) !important;
      -webkit-transition: transform 0.2s;
      -moz-transition: transform 0.2s;
      -ms-transition: transform 0.2s;
      -o-transition: transform 0.2s;
    }
  }
}

html.dark {
  .z-select {
    input {
      background: $dark-bg;
      color: $dark-color;
    }
    &__dropdown {
      background: $comp-dark-bg;
      box-shadow: $border-dark-shadow;
    }
  }
}
