input {
  outline: none;
  border: none;
}
.is-hover {
  .z-select__wrapper {
    border: 1px solid #787878;
  }
}
.icon-rotate {
  .z-select__wrapper {
    &__icon__inner {
      transition: transform 0.2s;
      color: $primary;
      //transform: rotate(-180deg) !important;
      -webkit-transition: transform 0.2s;
      -moz-transition: transform 0.2s;
      -ms-transition: transform 0.2s;
      -o-transition: transform 0.2s;
    }
  }
}

html.dark {
  .z-select {
    input {
      background: $dark-bg;
      color: $dark-color;
    }
    &__dropdown {
      background: $comp-dark-bg;
      box-shadow: $border-dark-shadow;
    }
  }
}
